<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAt0Xx-iU21C7TcRDkYtyuwGLUYRY-ljUI</string>
	<key>GCM_SENDER_ID</key>
	<string>809468633119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.craftschoolship.vibeboiler</string>
	<key>PROJECT_ID</key>
	<string>vibeboilerplate</string>
	<key>STORAGE_BUCKET</key>
	<string>vibeboilerplate.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809468633119:ios:353bcf04a4ebd6fa2bf52a</string>
</dict>
</plist>